*~
**.m~
**.asv
**/.DS_Store
**/.log
!workspaces/
workspaces/*
!workspaces/info/
workspaces/info/*
!workspaces/info/time_table_master_complete_*.mat
!workspaces/info/*.csv
!workspaces/instructions/
workspaces/stimuli/*
figs/*
data/*

