*~
**.m~
**.asv
**/.DS_Store
**/.log
!workspaces/
workspaces/*
!workspaces/info/
workspaces/info/*
!workspaces/info/wide_info/
!workspaces/info/condition_master_*.mat
!workspaces/info/*.csv
!workspaces/info/ltm*.mat
!workspaces/instructions/
!workspaces/instructions/instruction_images/
!workspaces/instructions/instruction_txt/
!workspaces/instructions/performance_phrases/

figs/*
data/*

